<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
		<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
	</head>
	<body>
		<div id="app" class="col-md-12">
			<table class="table table-hover">
				<tr>
					<th>区域id</th>
					<th>城市</th>
					<th>修改</th>
					<th>删除</th>
				</tr>
				<tr v-for="item in list">
					<td>{{item.aid}}</td>
					<td>{{item.city}}</td>
					<td>
						<button class="btn btn-success" @click="updateUI(item)">修改</button>
					</td>
					<td>
						<button class="btn btn-danger" @click="del(item.aid)">删除</button>
					</td>
				</tr>
			</table>
			<button class="btn btn-primary" @click="addUI">新增区域</button>
			<form id="addUI">
				<div class="form-group">
					<label for="name">城市</label>
					<input type="text" class="form-control" id="city" v-model="city">
				</div>
				<button class="btn btn-primary" @click="save">增加区域</button>
				<button type="reset" class="btn btn-warning">重置区域</button>
			</form>
			<form id="updateUI">
				<input type="hidden" id="aid2" v-model="aid2">
				<div class="form-group">
					<label for="name">城市</label>
					<input type="text" class="form-control" id="city2" v-model="city2">
				</div>
				<button class="btn btn-primary" @click="update()">修改区域</button>
				<button type="reset" class="btn btn-warning">重置区域</button>
			</form>
		</div>
		<script>
			axios.defaults.baseURL = "http://localhost/";
			var app = new Vue({
				el: "#app",
				data: {
					list: null,
					city:"",
					aid2: "",
					city2: "",
					layerAdd: null,
					layerUpdate: null,
				},
				created() {
					this.findAll();
					$("#addUI").hide();
					$("#updateUI").hide();
				},
				methods: {

					findAll() {
						axios.get("/addresss")
							.then((response) => {
								this.list = response.data;
							})
							.catch(() => {
								layer.msg("查询失败");
							});
					},
					update() {
						axios.put("/addresss", {
								aid: this.aid2,
								city: this.city2
							})
							.then((response) => {
								layer.msg("修改成功");
								this.findAll();
								layer.close(this.layerUpdate);
								

							});
					},
					updateUI(item) {
						this.aid2 = item.aid;
						this.city2 = item.city;
						this.layerUpdate = layer.open({
							type: 1,
							skin: 'layui-layer-rim', //加上边框
							area: ['420px', '280px'], //宽高
							content: $("#updateUI")
						});
					},
					del(aid) {
						var self = this;
						layer.confirm('你确定要删除？？', {
							btn: ['确认', '取消'] //按钮
						}, function() {
							axios.delete("/addresss/" + aid)
								.then((response) => {
									layer.msg("删除成功");
									self.findAll();
								});
						}, function() {});
						this.findAll();
					},
					save() {
						axios.post("/addresss", {
								city: this.city
							})
							.then((response) => {
								layer.msg("增加成功");
								this.findAll();
								layer.close(self.layerAdd);
							});
					},
					addUI() {
						this.layerAdd = layer.open({
							type: 1,
							title: "新增类型",
							skin: 'layui-layer-rim',
							area: ['420px', '280px'],
							content: $("#addUI")
						});
					}

				}
			});
		</script>
	</body>
</html>
